// 卡片样式
.mycard {
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 4px;
  word-break: break-all;
  background: transparent;
  box-shadow: 0 6px 10px 0 alpha(var(--color-contrast-high), 0.15);
  .content {
    line-height: 30px;
  }
}
